* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%;
    overflow-x: hidden;
}

body { 
    font-family: Steelfish, Arial, Helvetica, sans-serif; 
    letter-spacing: 1.6px;
    color: #fff;
}

ul, li { 
    padding: 0; 
    margin: 0; 
}

h1, h2, h3, h4, h5 { 
    margin: 0; 
}

a {  
    color: #fff;
    transition: 0.3s;
    text-decoration: none; 
}
a:visited {
    color: inherit;
}
a:hover {
    color: orange;
}



.button { 
    display: inline-flex; 
}


.swiper {
    
    .swiper-slide-active {
      transform: translateY(0) scale(1.75);
    }
    
    .swiper-slide-prev,
    .swiper-slide-duplicate-prev {
      transform: translateY(70%) translateX(-34px);
    }
    .swiper-slide-next,
    .swiper-slide-duplicate-next {
      transform: translateY(-77%) translateX(38px);
    }
    
    .swiper-slide-prev-2 {
        transform: translateY(126%) translateX(10px) scale(0.7);
    }
    .swiper-slide-next-2 {
        transform: translateY(-128%) translateX(-13px) scale(0.7);
    }
    .swiper-slide-next-2 + .swiper-slide {
        margin-left: 10px;
    }
    
    .swiper-slide-next-2 + .swiper-slide {
        transform: translateY(-200%) translateX(100%) scale(0.7);
    }
    .swiper-slide-prev-3 {
        transform: translateY(200%) translateX(-100%) scale(0.7) !important;
    }
    .swiper-slide-next-3 {
        transform: translateY(-200%) translateX(100%) scale(0.7) !important;
    }

}
.swiper {
    overflow: unset;
    overflow-y: visible;

    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 40px;
    position: relative;

    .slider_buttons {
        display: none;
    }
    
    .swiper-slide {

        display: flex;
        justify-content: center;

        transition: opacity 0.5s ease, transform 0.5s ease;
      

        & img {
            max-width: 200px;
            max-height: 200px;
        }
        .slide_left {
            height: 200px;
            width: 100px;
            flex-shrink: 0;
            clip-path: polygon(40% 50%, 100% 100%, 100% 0);
            background-color: #fff;
            margin-right: -1px;
        }
        .slide_right {
            height: 200px;
            width: 100px;
            flex-shrink: 0;
            clip-path: polygon(60% 50%, 0 100%, 0 0);
            background-color: #fff;
            margin-left: -1px;
        }

        .slide-inner {
            background-color: #fff;
    
            color: #020317;
            font-size: 1rem;
    
            height: 200px;
            width: 100px;
    
            padding: 10%;
    
            display: flex;
            flex-direction: column;
            align-items: center;
    
            //filter: url('#goo');
    
            position: relative;
    
    
            .place {
                padding-top: 10px;
                font-size: 1rem;
                margin-bottom: 10px;
    
                transition: opacity 0.1s;
                opacity: 0;
    
                //display: none;
                visibility: hidden;
            }
    
            .date {
                font-size: 1.6rem;
                font-weight: bold;
                margin-bottom: 6px;
                text-transform: uppercase;
    
                width: 10%;
                text-align: center;
                display: flex;
                justify-content: center;
            }
    
            .time {
                margin-bottom: 10px;
    
                transition: opacity 0.1s;
                opacity: 0;
                //display: none;
                visibility: hidden;
            }
    
            .buy_link {
                border: 1px solid #020317;
                display: inline-flex;
                padding: 4px 10px 5px;
                border-radius: 4px;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: #020317;
    
                transition: opacity 0.1s;
                opacity: 0;
                //display: none;
                visibility: hidden;
            }

            .buy_link:hover {
                color: #fff;
                background-color: #020317;
            }
    
    
        }
    }



    .swiper-slide-active {
        position: relative;

        .slide-inner {
            .place {
                opacity: 1;
                visibility: visible;
            }
    
            .date {
                width: 250%;
                overflow-x: visible;
            }
    
            .time {
                opacity: 1;
                visibility: visible;
            }
    
            .buy_link {
                opacity: 1;
                visibility: visible;
                white-space: nowrap;
            }
        }

        
    }


    .side-info-blocks {
        .left {
            background-color: #fff;
            position: absolute;
            //left: 0;
            left: -100%;
            top: 6%;
            right: 69%;
            bottom: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 26px;

            &::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 101px;
                right: -100px;
                background-color: #fff;
                clip-path: polygon(0 100%, 0 0, 100% 0);
            }

            span {
                color: #020317;
                font-size: 3rem;
            }

        }
        .right {
            background-color: #fff;
            position: absolute;
            left: 69%;
            top: 50%;
            right: -100%;
            bottom: 6%;
            display: flex;
            align-items: center;
            padding-left: 26px;

            &::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                width: 101px;
                left: -100px;
                background-color: #fff;
                clip-path: polygon(100% 100%, 0 100%, 100% 0);
            }

            span {
                color: #020317;
                font-size: 3rem;
            }
        }
    }
}

.wrapper {
    height: 100%;

    .main {
        height: 100%;

        .container {
            height: 100%;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding-top: 190px;
            //overflow: hidden;
        }
    }
}


.header {
    position: fixed;

    left: 0;
    right: 0;
    top: 0;
    
    padding: 40px 9% 20px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        h1 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }

    .navigation {

        .list {
            display: flex;

            .item {
                font-size: 2rem;
                margin-right: 3rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .buttons {
        display: flex;

        .header-button.login svg{
            transition: 0.3s;
        }
        .header-button.login:hover svg{
            fill: orange;
        }
        .login {
            display: flex;
            align-items: center;    
            margin-right: 4rem;

            svg {
                height: 2rem;
                margin-right: 0.8rem;
            }

            span {
                font-size: 1.5rem;
            }
        }

        .side-open {
            path {
                transition: 0.3s;
            }
            &:hover path{
                stroke: orange;
            }
            height: 2rem;
            width: 2rem;
        }
    }
}

.page-background {
    background: radial-gradient(circle, rgba(72,77,127,1) 0%, rgba(2,9,35,1) 40%);

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0);


    .circle1 {
        position: absolute;
        width: 100%;
        height: 100%;

        background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 56%, #383F5B 56.3%, rgba(0,0,0,0) 56.6%);

    }
    .circle2 {
        position: absolute;
        width: 100%;
        height: 100%;

        background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 35%, #383F5B 35.3%, rgba(0,0,0,0) 35.6%);
    }
}

@media screen and (max-width: 1100px) {
    .header {
        .navigation {
            .list {
                display: none;
            }
        }

        .buttons {
            .login {
                display: none;
            }
        }
        
    }

    .swiper .side-info-blocks {
        .left {
            right: 72%;
        }
        .right {
            left: 72%;
        }
    }
    
    
}
@media screen and (max-width: 875px) {

    .swiper {
        .swiper-slide-next, 
        .swiper-slide-duplicate-next {
            transform: translateY(-77%) translateX(0px);
        }

        .swiper-slide-prev, 
        .swiper-slide-duplicate-prev {
            transform: translateY(70%) translateX(0px);
        }

        .swiper-slide {
            .slide_left {
                height: 150px;
                width: 60px;
            }
            .slide_right {
                height: 150px;
                width: 60px;
            }
            .slide-inner {
                height: 150px;
                padding: 3%;

                .place {
                    padding-top: 0;
                }
            }
        }
        .side-info-blocks {
            .left {
                right: 77%;
                padding-right: 0;

                &::before {
                    clip-path: polygon(40% 0, 0 100%, 0 0);
                }
                
            }
            .right {
                left: 77%;
                padding-left: 0;

                &::before {
                    clip-path: polygon(100% 100%, 39% 100%, 100% 0);
                }
            }
        }
    }
    
}

@media screen and (max-width: 745px) {
    
}
@media screen and (max-width: 640px) {
    .swiper {
        .side-info-blocks {
            .left {
                right: 67%;
                top: -34%;
                bottom: 100%;
            }
            .right {
                left: 67%;
                top: 100%;
                bottom: -34%;
            }
        }
        
        
        .slider_buttons {
            display: flex;
            justify-content: center;
            position: fixed;
            bottom: 1%;
            left: 0;
            right: 0;
    
            button {
                margin-right: 30%;
                width: 5rem;
                height: 5rem;
                border: 1px solid #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: transparent;
                color: #fff;
                font-size: 4rem;
                cursor: pointer;
                padding-bottom: 10px;
    
                &:hover {
                    color: orange;
                }
    
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    

}



@font-face {
	font-family: 'Steelfish';
	src: url('./fonts/steelfish/SteelfishRg-Regular.woff2') format('woff2'),
url('/fonts/steelfish/SteelfishRg-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Steelfish';
	src: url('./fonts/steelfish/SteelfishRg-Italic.woff2') format('woff2'),
url('/fonts/steelfish/SteelfishRg-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Steelfish';
	src: url('./fonts/steelfish/SteelfishRg-Bold.woff2') format('woff2'),
url('/fonts/steelfish/SteelfishRg-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Steelfish';
	src: url('./fonts/steelfish/SteelfishRg-BoldItalic.woff2') format('woff2'),
url('/fonts/steelfish/SteelfishRg-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Steelfish';
	src: url('./fonts/steelfish/SteelfishEb-Regular.woff2') format('woff2'),
url('/fonts/steelfish/SteelfishEb-Regular.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Steelfish';
	src: url('./fonts/steelfish/SteelfishEb-Italic.woff2') format('woff2'),
url('/fonts/steelfish/SteelfishEb-Italic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
}



