* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Steelfish, Arial, Helvetica, sans-serif;
    letter-spacing: 1.6px;
    color: #fff;
}

ul, li {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover {
    color: orange;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.button {
    display: inline-flex;
}

.swiper {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 40px;
    position: relative;
}
.swiper .swiper-slide {
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.swiper .swiper-slide img {
    max-width: 200px;
    max-height: 200px;
}
.swiper .swiper-slide-active {
    transform: translateY(0) scale(1.75);
}
.swiper .swiper-slide-prev,
.swiper .swiper-slide-duplicate-prev {
    transform: translateY(70%) translateX(-34px);
}
.swiper .swiper-slide-next,
.swiper .swiper-slide-duplicate-next {
    transform: translateY(-77%) translateX(38px);
}
.swiper .swiper-slide-prev-2 {
    transform: translateY(126%) translateX(10px) scale(0.7);
}
.swiper .swiper-slide-next-2 {
    transform: translateY(-128%) translateX(-13px) scale(0.7);
}
.swiper .swiper-slide-next-2 + .swiper-slide {
    margin-left: 10px;
}
.swiper .swiper-slide-next-2 + .swiper-slide {
    transform: translateY(-200%) translateX(100%) scale(0.7);
}
.swiper .swiper-slide-prev-3 {
    transform: translateY(200%) translateX(-100%) scale(0.7) !important;
}
.swiper .swiper-slide-next-3 {
    transform: translateY(-200%) translateX(100%) scale(0.7) !important;
}

.swiper {
    overflow: unset;
    overflow-y: visible;
}
.swiper .slide-inner {
    background-color: transparent;
    color: #020317;
    font-size: 1rem;
    height: 200px;
    width: 200px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: url("#goo");
    background-image: url(./icons/hexagon.svg);
    background-size: 103%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.swiper .slide-inner .place {
    padding-top: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    transition: opacity 0.1s;
    opacity: 0;
    visibility: hidden;
}
.swiper .slide-inner .date {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 6px;
    text-transform: uppercase;
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.swiper .slide-inner .time {
    margin-bottom: 10px;
    transition: opacity 0.1s;
    opacity: 0;
    visibility: hidden;
}
.swiper .slide-inner .buy_link {
    border: 1px solid #020317;
    display: inline-flex;
    padding: 4px 10px 5px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.1s;
    opacity: 0;
    visibility: hidden;
}
.swiper .swiper-slide-active {
    position: relative;
    /*.slide-inner::before {
        content: attr(data-before);
        background-color: #fff;
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 50%;
        left: -200%;
        display: flex;
        justify-content: flex-end;
    }

    .slide-inner::after {
        content: attr(data-after);
        background-color: #fff;
        position: absolute;
        left: 100%;
        top: 50%;
        bottom: 0;
        right: -200%;
        display: flex;
        justify-content: flex-start;
    }*/
}
.swiper .swiper-slide-active .place {
    opacity: 1;
    visibility: visible;
}
.swiper .swiper-slide-active .date {
    width: 100%;
}
.swiper .swiper-slide-active .time {
    opacity: 1;
    visibility: visible;
}
.swiper .swiper-slide-active .buy_link {
    opacity: 1;
    visibility: visible;
}
.swiper .side-info-blocks .left {
    background-color: #fff;
    position: absolute;
    left: -100%;
    top: 10%;
    right: 65%;
    bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 120px;
    clip-path: polygon(0 0, 100% 0, 94.5% 100%, 0% 100%);
}
.swiper .side-info-blocks .left span {
    color: #020317;
    font-size: 3rem;
}
.swiper .side-info-blocks .right {
    background-color: #fff;
    position: absolute;
    left: 65%;
    top: 50%;
    right: -100%;
    bottom: 10%;
    display: flex;
    align-items: center;
    padding-left: 120px;
    clip-path: polygon(5.5% 0, 100% 0, 100% 100%, 0 100%);
}
.swiper .side-info-blocks .right span {
    color: #020317;
    font-size: 3rem;
}

.wrapper {
    height: 100%;
}
.wrapper .main {
    height: 100%;
}
.wrapper .main .container {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 190px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 40px 9% 20px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo h1 {
    font-size: 2rem;
    text-transform: uppercase;
}
.header .navigation .list {
    display: flex;
}
.header .navigation .list .item {
    font-size: 2rem;
    margin-right: 6rem;
}
.header .navigation .list .item:last-child {
    margin-right: 0;
}
.header .buttons {
    display: flex;
}
.header .buttons .header-button.login:hover svg {
    fill: orange;
}
.header .buttons .login {
    display: flex;
    align-items: center;
    margin-right: 4rem;
}
.header .buttons .login svg {
    height: 2rem;
    margin-right: 0.8rem;
}
.header .buttons .login span {
    font-size: 1.5rem;
}
.header .buttons .side-open {
    height: 2rem;
    width: 2rem;
}
.header .buttons .side-open:hover path {
    stroke: orange;
}

.page-background {
    background: radial-gradient(circle, #484d7f 0%, #020923 40%);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0);
    /*.circle-gradient {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        border-radius: 50%;
        height: 100vmin;
        width: 100vmin;
        background: radial-gradient(#4F507C, #020923);
    }*/
}
.page-background .circle1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 56%, #383F5B 56.3%, rgba(0, 0, 0, 0) 56.6%);
}
.page-background .circle2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #383F5B 35.3%, rgba(0, 0, 0, 0) 35.6%);
}

@font-face {
    font-family: "Steelfish";
    src: url("./fonts/steelfish/SteelfishRg-Regular.woff2") format("woff2"), url("/fonts/steelfish/SteelfishRg-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Steelfish";
    src: url("./fonts/steelfish/SteelfishRg-Italic.woff2") format("woff2"), url("/fonts/steelfish/SteelfishRg-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Steelfish";
    src: url("./fonts/steelfish/SteelfishRg-Bold.woff2") format("woff2"), url("/fonts/steelfish/SteelfishRg-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Steelfish";
    src: url("./fonts/steelfish/SteelfishRg-BoldItalic.woff2") format("woff2"), url("/fonts/steelfish/SteelfishRg-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Steelfish";
    src: url("./fonts/steelfish/SteelfishEb-Regular.woff2") format("woff2"), url("/fonts/steelfish/SteelfishEb-Regular.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Steelfish";
    src: url("./fonts/steelfish/SteelfishEb-Italic.woff2") format("woff2"), url("/fonts/steelfish/SteelfishEb-Italic.woff") format("woff");
    font-weight: 800;
    font-style: italic;
}