* {
    box-sizing: border-box;
}

html, body { 
    margin: 0; 
    padding: 0; 
    height: 100%;
    overflow-x: hidden;
}

body { 
    font-family: Raleway, Arial, Helvetica, sans-serif; 
}

ul, li { 
    padding: 0; 
    margin: 0; 
}

h1, h2, h3, h4, h5 { 
    margin: 0; 
}

a { 
    color: inherit; 
    text-decoration: none; 
}

.container { 
    width: 1200px; 
    margin: 0 auto; 
}

.button { 
    display: inline-flex; 
}


.slider{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 40px;
    
    .swiper-slide{
      font-size: 0;
      transition: opacity 0.5s ease, transform 0.5s ease;
      

      & img {
        max-width: 200px;
        max-height: 200px;
      }
    }
    
    .swiper-slide-active {
      transform: translateY(0) scale(1.75);
    }
    
    .swiper-slide-prev,
    .swiper-slide-duplicate-prev {
      transform: translateY(70%);
    }
    .swiper-slide-next,
    .swiper-slide-duplicate-next {
      transform: translateY(-70%);
    }
    
    .swiper-slide-prev-2 {
        transform: translateY(150%) scale(0.7);
    }
    .swiper-slide-next-2 {
        transform: translateY(-150%) scale(0.7);
    }
    .swiper-slide-next-2 + .swiper-slide {
        margin-left: 10px;
    }
    
    .swiper-slide-next-2 + .swiper-slide {
        transform: translateY(-200%) scale(0.7);
        //opacity: 0;
    }
    .swiper-slide-prev-3 {
        transform: translateY(200%) scale(0.7) !important;
        //opacity: 0;
    }
    .swiper-slide-next-3 {
        transform: translateY(-200%) scale(0.7) !important;
        //opacity: 0;
    }

    /*.swiper-slide.swiper-slide-duplicate.swiper-slide-duplicate-next + .swiper-slide.swiper-slide-duplicate.swiper-slide-next-2 + .swiper-slide-duplicate {
        transform: translateY(200%) scale(0.7);
        //opacity: 0;
    }

    .swiper-slide-active + .swiper-slide-next + .swiper-slide-next-2 + .swiper-slide {
        transform: translateY(-200%) scale(0.7) !important;
    }*/
    
}
.swiper {
    overflow: unset;
    overflow-y: visible;


    .swiper-slide-next {

    }
}

.wrapper {
    height: 100%;

    .main {
        height: 100%;

        .inner {
            height: 100%;
            width: 1088px;
            margin: 0 auto;
            padding-top: 190px;
            overflow: hidden;
        }
    }
}


.header {
    position: fixed;
}



